<!--
<section class="disqus">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = ''; 
        var disqus_developer = 0; // developer mode is on
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = window.location.protocol + '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</section>
-->

<!-- comment plugin with Gitment: https://github.com/imsun/gitment -->
<div class="gitm-comments" id="gitm-comments">
<div id="gitmentContainer" style="margin-bottom: -19px;"></div>
      <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
      <style>
        .gitment-container a {
          border: none;
        }
        .comments {
          margin: 60px 0 0;
        }
      </style>
      <script src="https://imsun.github.io/gitment/dist/gitment.browser.js" type="text/javascript"></script>
      <script type="text/javascript">
        var gitment = new Gitment({
          id: 'gitment-introduction',
          title: '博客评论',
          owner: 'small-cat',
          repo: 'blog_comments',
          oauth: {
            client_id: '76da0403cb2661c20104',
            client_secret: 'c712b49de2c002d7572f2f9a583d174d1ec36a5b',
          },
        })
        gitment.render('gitmentContainer')
      </script>
    
</div>